// .wrapper{
//     //  background-image: url(../../../src/images/texture.jpg);
//     // background-size: cover;
//     // background-repeat: no-repeat;
// }
.header{
    background-image: url(../../../src/images/texture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    &__inner{
        background-color: #333333;
    }
    &__inner-items{
        display: flex;
        margin-bottom: 15px;
        column-gap: 5px;
        align-items: center;
    }
    &__inner-item{
        font-size: 15px;
        line-height: 22px;
        padding-left: 25px;
        @extend %title-font;
   }
    &__inner-link{
        color:#fff;
        &:hover{
            color:#faaa00;
        }
    }   
    &__form-search{
        padding-left: 300px;
        display: flex;
        }
    &__form-input{
        width: 240px;
        height: 40px;
        border-radius: 10px;
        &::placeholder{
            padding: 10px  10px;
        }
        
    }
    &__form-btn {
        background-color:#faaa00;
        margin-left: -8px;
        border-radius: 0 10px 10px 0;
        cursor: pointer;
        
    }
    &__form-img {
        height: 35px;
    }
}

.header__logo{
    display: flex;
    align-items:center;
    max-height: 165px;
    margin-bottom: 20px;
    
    &-item{
        max-width: 400px;
        max-height: 335px;
    }
    &-img{
        width: 80%;
        background-size: cover;
        background-repeat: no-repeat;
      }
    &-description{
        
        text-align: center;
    }
    &-schedule{
        
        padding-left: 40px;
    }
    &-schedule-img{
        width: 24px;
        height: 24px;
        margin-right: 7px;
    }
    &-schedule-text{
        display: flex;
        align-items: center;
    }
}
.callback{
    margin-left: 100px;
    &__btn{
        background-color: #faaa00;
        border-color: #837d7d;
        border-radius: 10px;
        width: 200px;
        height: 50px;
        cursor: pointer;
        &:hover{
            background-color:#faab00be;
        }
    }
}
.about{
    &__inner{
        background-color: rgb(210, 242, 242);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    &__inner-title{
        font-size: 36px;
        line-height: 60px;
        max-width: 700px;
        max-height: 400px;
        margin-top: 20px;
        padding: 10px 5px;
        border: 1px solid rgb(167, 20, 20);
    }
    &__inner-text{
        padding: 15px 15px;
        font-size: 24px;
        line-height: 20px;
        margin-top: 20px;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background-color: rgb(19, 19, 19);
            top: 0;
            left: 0;
            right: 0;
            width: 300px;
            height: 2px;
        }
        &::after{
            position: absolute;
            content: '';
            background-color:black;
            right: 0;
            bottom: 0px;
            width: 300px;
            height: 2px;
        }
    }
}
.breadcrumbs{
    background-color:#837d7d9e;
    height: 40px;
    display: flex;
    align-items: center;
    &__list{
        display: flex;
        

    }
    &__item{
       padding: 0 21px;
       border-right: 2px solid #e2dec8; 
       @extend %title-font;
       font-size: 14px;
       &:last-child{
        border-right: none;
       }
    }
    &__link{
        color:#333333;
        &:hover{
            color:#eaaf30;
        }
    }
}