.about{
    &__inner{
        background-color: rgb(210, 242, 242);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    &__inner-title{
        font-size: 36px;
        line-height: 60px;
        max-width: 700px;
        max-height: 400px;
        margin-top: 20px;
        padding: 10px 5px;
        border: 1px solid rgb(167, 20, 20);
    }
    &__inner-text{
        padding: 15px 15px;
        font-size: 24px;
        line-height: 20px;
        margin-top: 20px;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background-color: rgb(19, 19, 19);
            top: 0;
            left: 0;
            right: 0;
            width: 300px;
            height: 2px;
        }
        &::after{
            position: absolute;
            content: '';
            background-color:black;
            right: 0;
            bottom: 0px;
            width: 300px;
            height: 2px;
        }
    }
}