.main{
    background-color: #dfdee3;
    padding-top: 20px;
}
.slider{
    &__items{
        padding-left: 180px;
    }
    &__item{
        display: flex;
        position: relative;
        height: 500px;
        width: 1100px;
    }
    &__item-img{
        width: 1120px;
        height: 479px;
    }
    &__item-description{
        width: 350px;
        text-align: center;
        margin-left: -370px;
        padding-top: 50px;
    }
    &__item-title{
        font-size: 18px;
        color: rgba(255, 255, 255, 0.879);
        @extend %title-font;
        margin-bottom: 30px;
    }
    &__item-text{
        font-size: 13px;
        color: #fff;
        @extend %title-font;
        max-width: 300px;
        padding-bottom: 45px;
        padding-top: 15px;

    }
    &__item-btn{
        background-color: #faaa00;
        border-color: #837d7d;
        border-radius: 10px;
        width: 150px;
        height: 30px;
        cursor: pointer;
        &:hover{
            background-color:#f82e0f;
        }
    }
    &__dots{
        display: flex;
        justify-content: center;
        column-gap: 24px;
        margin-top: -18px;
        padding-right: 128px;
    }
    &__dot{
        position: relative;
        color: #dfdee3;
        cursor: pointer;
        &::after{
            position: absolute;
            content: '';
            height: 21px;
            width: 21px;
            background-color: #faaa00;
            border-radius: 50px;
        }
        &:hover{
            &::after{
                background-color:#565454;
               }
        }
    }
    &__dot-active{
        position: relative;
        color: #dfdee3;
        &::after{
            position: absolute;
            content: '';
            height: 21px;
            width: 21px;
            background-color: #565454;
            border-radius: 50px;
        }
    }
    &__item-hide{
        display: none;
    }

}
.delivery{
    &__items{
        padding-top: 80px;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        column-gap: 100px;
        
    }
    &__item{
        display: flex;
        align-items: center;
    }
    &__img{
        width: 45px;
        height: 45px;
    }
    &__text{
        padding-left: 10px;
    }
}
.gallery{
    padding-bottom: 45px;
    &__items{
        display: grid;
        grid-template-columns: repeat(4, 330px);
        grid-template-rows: repeat(2, 330px);
        grid-gap: 21px 12px;
        padding-top: 40px;
        padding-left: 51px;

    }
    &__item{
        max-width: 300px;
        max-width: 300px;
        position: relative;
    }
    &__item-img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &__info{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#fff, .7);
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all .5s;
        &:hover{
            opacity: 1;
        }
        &-title{
            @extend %title-font;
            font-size: 25px;
            position: relative;
            &::after{
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                right: 0;
                background: #c48601;
                height: 2px;
            }
        }
    }
}
.payment{
    padding-left: 150px;
    &__title{
        margin-top: 35px;
        padding-bottom: 45px;
        @extend %title-font;
        text-align: center;
        font-size: 26px;
        line-height: 24px;
    }
    &__condition{
        @extend %title-font;
        text-align: left;
        position: relative;
        font-size: 22px;
        line-height: 20px;
        &::after{
            position: absolute;
            content: '';
            background: #faaa00;
            height: 2px;
            bottom: -2px;
            left: 0;
            margin: 0 auto;
            width: 350px;
        }
        
    }
    &__text{
        padding-bottom: 35px;
        width: 850px;
        font-size: 18px;
        line-height: 25px;
        text-align: left;
    }
}